<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div id="result">
    <p>Your "<%= expandMailType(type) %>" will cost $"<%= result %>" to send.</p>
    <p>"<%= message %>"</p>
  </div>

</body>
</html>
